<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Lista de <%= title %></p>

    <div>
      <table>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>

        <% for(let servico of servicos) { %>
        <tr>
          <td><%= servico.id %></td>
          <td><%= servico.desc %></td>
          <% if(!taxaDesconto) { %>
          <td>
            <%= Number(servico.preco.toFixed("2")).toLocaleString("pt-BR",
            {style: 'currency', currency: 'BRL'}) %>
          </td>
          <% } else if (taxaDesconto) { %>
          <td>
            <%= Number(servico.preco - (servico.preco * taxaDesconto
            /100).toFixed("2")).toLocaleString("pt-BR", {style: 'currency',
            currency: 'BRL'}) %>
          </td>
          <% } %>
          <td><a onclick=alerta('<%= servico.id %>','<%= servico.desc %>') class="button">Excluir</a></td>
        </tr>
        <% } %>
      </table>
      <br />
      <a class="button" href="/">Voltar</a>
    </div>

    <script>
      const alerta = (id, desc) => { 
        const excluir = confirm(`Deseja excluir o serviço ${desc}?`);
        console.log(id)
      };
    </script>
  </body>
</html>
